CASDOOR_CLIENT_ID="7379aaf538d4e073cfdc"
CASDOOR_CLIENT_SECRET="7e035f69a84887e8bdc1d6734b00960f5a185a09"
CASDOOR_ISSUER="http://localhost:8000"
CASDOOR_URL="http://localhost:8000"
NEXT_PUBLIC_CASDOOR_URL="http://localhost:8000"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="c7b3f6de325d676b2afe901abb614da0b84bbe4b66b5e35330b51f129ba8b454"
NEXTAUTH_TRUST_HOST=true

# 后端 API
NEXT_PUBLIC_API_BASE_URL="http://localhost:8001"